{% extends 'base.html.twig' %}

{% block title %}Compte inactif{% endblock %}

{% block body %}

<div class="container">
    
        <h1 class="my-4"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;Compte inactif</h1>



{% endblock %}