{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<div class="container">
    <div class="container">
        <h1 class="my-5"><i class="fas fa-lock"></i>&nbsp;&nbsp;Modification du mot de passe</h1>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="col alert alert-light">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="row mt-4">
                        <button type="submit" class="btn btn-success btn-center"><i class="fas fa-check"></i> Enregistrer le nouveau mot de passe</button>
                    </div>
                   
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>          
</div>

{% endblock %}