<footer class="mt-5 bg-light py-5 text-center footer">
    <p>Copyright - 2020-2022 - <i class="far fa-copyright text-info"></i> Immobilier Digital - Tous droits réservés</p>
     
    <a href="{{ path('conditions.generales')}}">Conditions Générales</a>
    
</footer>