{% extends 'base.html.twig' %}

{% block title %}- Accueil{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container"> 
            <div class="row">
                <div class="col-md-6">
                    <h1><i class="fas fa-home text-primary"></i> IMMOBILIER</h1>
                    <h1 class="mb-3"><i class="fas fa-hand-point-right text-primary"></i> DIGITAL</h2>
                    
                    <p class="h5 mt-2 mb-2">Tout pour la gestion de vos biens au bout des doigts.</p>
                    
                    <div class="row text-center mt-5 mb-4">
                        <div class="col">
                            <i class="fas fa-file-signature text-secondary h1" style="font-size: 5em;"></i>
                            <h4>Baux</h4>
                        </div>
                        <div class="col">
                            <i class="fas fa-briefcase text-warning h1" style="font-size: 5em;"></i>
                            <h4>Tavaux</h4>
                        </div>
                        <div class="col">
                            <i class="fas fa-chart-line text-success h1" style="font-size: 5em;"></i>
                            <h4>Suivi</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    {# <img style="margin-top: 20px;" width=550 height=auto src="{{  '/images/home2.png' }}" alt=""> #}
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <h2 class="mb-4">Les derniers biens disponibles à la location</h2>
        <div class="row flex">
            {% for property in properties %}
                {% include 'property/_property.html.twig' %}
            {% endfor %}
        </div>
</div>  

{% endblock %}