<form method="post" action="{{ path('lease.manager.delete', {'id': lease.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lease.id) }}">
    <button class="btn">Delete</button>
</form>
