{% extends 'base.html.twig' %}

{% block title %}Edit Bail{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap-datepicker.standalone.min.css" />
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edition du bail</h1>
        <hr>
        {{ include('manager/lease/_form.html.twig', {form: form, button: 'Enregistrer les modifications' }) }}
    </div>  
{% endblock %}


