{% extends 'base.html.twig' %}

{% block title %}Edit Bail{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap-datepicker.standalone.min.css" />
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edition du bail</h1>
        <hr>
        {{ include('manager/lease/_form.html.twig', {form: form, button: 'Enregistrer les modifications' }) }}
    </div>  
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
   
   $('select').select2({
        templateSelection: function (data) {
            if (data.id === '') { // adjust for custom placeholder values
            return 'Custom styled placeholder text';
            }

            return data.text;
        }
    });

</script>

{% endblock %}
