.bodyimmo { 
    padding-top: 58px;
}

.logo-menu {
    height: 45px;
    width: auto;
    margin: -5px 10px -5px 0;
    border-radius: 5px;
}

.doc {
    height: 50px;
    width: auto;
    /* display: block; */
    margin: -5px auto 0px auto;
}

.containerfb {
    min-height: 80vh;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.center-block {
    display : block;
    margin-left: auto;
    margin-right : auto;
}

.left-block {
    display : block;
    margin-left: 2%;
    margin-right : auto;
}

.right-block {
    display : block;
    margin-left: auto;
    margin-right : 2%;
}

.small-cube {
    height : 40px;
    width: 40px;
}

.img-home {
    width: 100%;
    height: auto;
}

.img-accueil {
    border : 2px solid #446E9B;
    max-height : 110px;
    width: auto;
}

.img-line {
    padding: 0rem;
    background-color: #fff;
    border: 0px solid #eceeef;
    border-radius: 3rem;
    width: 40px !important;
    height: auto;
}

.img-id {
    padding: 0rem;
    background-color: #fff;
    border: 0px solid #eceeef;
    border-radius: 3rem;
    width: 80px !important;
    height: auto;
}

.img-id-card {
    padding: 0rem;
    background-color: #fff;
    border: 0px solid #eceeef;
    border-radius: 3rem;
    width: 100px !important;
    height: auto;
}

.avatar {
    padding: 0rem;
    background-color: #2a94f2;
    border: 0px solid #eceeef;
    border-radius: 11rem;
    height: auto;
    width : 100%;
    max-width : 230px;
    display: block;
    margin: 0 auto;
}



.small-avatar {
    padding: 0rem;
    background-color: #2a94f2;
    border: 0px solid #eceeef;
    border-radius: 3rem;
    height: auto;
    width : 45px;
    max-width : 45px;
}

.menu-avatar {
    padding: 0rem;
    background-color: #2a94f2;
    border: 0px solid #eceeef;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin: -5px 5px -5px 5px;
}

.image-menu {
    height: 30px !important;
    width: 30px !important;
    border-radius: 3rem !important;
    margin-right: 2px;
}

.image-liste-bien {
    height: 35px !important;
    width: auto !important;
}

.image-thumb {
    height: auto;
    width: 100px;
    border-radius: 1rem !important;
}

label.required:after {
    color: red;
    content: " *";
}

.custom-file-label::after {
   content:  "Fichier ..." !important ;
}

.role {
    border: 2px solid #c6c7c8;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    padding: 0px 5px;
    margin: 0px 5px 0px 0px;
    display: inline-block;
    background-color: #ffffff;
    color: #5a5a5a;
}



.my-list {
    padding-left: 10px;
    margin-left: 5px;
}

.my-list::before {
    content: "⇒";
    padding-right : 5px;
}

.carousel-control-prev, .carousel-control-next {
    top: 110px;
    bottom: auto;
}

.pagination {
    justify-content: center;
}

a.noUnderLigned:hover {
    text-decoration: none;
}

.btn-right {
    display: block !important;
    margin: 0 0 0 auto !important;
    width: fit-content;
    width: -moz-fit-content;
}

.btn-left {
    display: block !important;
    margin: 0 auto 0 0 !important;
    width: fit-content;
}

.btn-center {
    display: block !important;
    margin: 5px auto !important;
    width: fit-content;
}

.btn-middle {
    display: block;
    position: fixed;
    bottom: 22%;
    right : 100px;
    margin: 0px 0px 0px 0px;
}



.alert-base {
    display: block;
    margin : 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    max-width : 80%;
}

.caption-top {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 15px;
}

.caption-bottom {
    display:block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 15px;
}

.exposant{
    font-size: 0.5em;
    vertical-align: inherit;
}

.block-image {
 display: inline-block;
 height: auto;
}

.linkDiapo {
    border: none;
    background-color: transparent;
    padding : 0;
    margin: 0;
    color: white;
}

.linkDiapo:hover {
    text-decoration: underline;
}

.noLink:hover {
    cursor: help;
    text-decoration: none;
}

.nbrEvent {
    font-size: 2.5rem;
    line-height: 2.6rem;
    font-weight: bolder;
}


.preview-frame {
    margin:0 auto;
    height: 200px;      /* equals max image height */
    width: 200px;
    border: 0px solid white;
    white-space: nowrap;
    text-align: center;
    /* border-radius: 7rem; */
    overflow:hidden;

}

.preview-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.preview-image {   
    vertical-align: middle;
    max-height: 200px;
    max-width: 200px;
}


/* .preview-frame {
    display: inline-block;
    margin: 0 auto;
    width:200px;
    height:200px;
    border-radius: 7rem;
    overflow:hidden;
    vertical-align: middle;
}

.preview-image {
    display: inline-block;
    max-width: 200px;
    
} */

.form-check {
    margin-top: 15px;
}

.backhome {
    background:url(/images/back.png) 0 0 no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */

}

/* hr {
    border: none;
    border-top: 5px solid white;
    color: white;
    overflow: visible;
    text-align: center;
} */

.middle {
    padding : -25px 0px;
}

.teasing {
    /* padding: 35px 0px;
    background-color: rgba(255,255,255,0.6);
    margin: 5% auto;
    width: 80%; */
}

a.buttonsub {
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  a.buttonsub.sub {
    background-color: #36a41e;
  }

  a.buttonsub.test {
    background-color: #2e96f1;
  }
  
  a.buttonsub span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  a.buttonsub span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  a.buttonsub:hover span {
    padding-right: 25px;
  }
  
  a.buttonsub:hover span:after {
    opacity: 1;
    right: 0;
  }


.custom-file, .current-doc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.newMessageBackground {
    display: block;
    width: 100%;
    min-height: 200px;
    background-color: #345578;
    

}

.newMessage {
    color: white;
}

.property-show .slick-prev, .property-show .slick-next {
    color: black;
}


.company {
    margin: 0px 0px -20px 0px;
    padding: 0px 0px 0px 0px;
}

.all-fit {
    width: 100%;
}

