<div class="card border-primary mb-3" style="max-width: 30rem; display:block; margin:0 auto;">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                  {{company.name|upper}}  &nbsp; <span class="text-info">
            </div>
            <div class="col-md-2">
              
            </div>    
        </div>
    </div>
    <div class="card-body">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <div style="display: block; margin: 0 auto;">
                
            </div>
        </div>
        <div class="col-md-8">
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <hr>
           
        </div>
    </div>
    </div>
</div>