<form method="post" action="{{ path('owner.contact.delete', {'id': profile.id}) }}" onsubmit="return confirm('Confirmez la suppression d\'un contact ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profile.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
