{% extends 'base.html.twig' %}

{% block title %}Modification du contact{% endblock %}

{% block body %}



<div class="container">
    
    <div class="row mt-5 pt-3 pb-4">
        <div class="col-md-9">
            <h1><i class="fas fa-user"></i>&nbsp;Modification de contact</h1>
        </div>
        <div class="col-md-3 text-right">
            {% include 'owner/contact/_delete_form.html.twig' %}
        </div>
    </div>

    <div class="tab-pane fade active show" id="contact">
        {# {% form_theme form 'owner/contact/_locationCollection.html.twig' %} #}
        {{ include('owner/contact/_form.html.twig', {form: form, button: 'Mettre à jour' }) }}
        {# {{dump(form)}} #}
    </div>  
       
</div>

{% endblock %}

{% form_theme form 'owner/contact/_formAddress.html.twig' %}

{% block javascript %}

     {{ parent() }}

    <script>
    let checkbox = document.getElementById("owner_profile_companyRelated");
    let champ = document.getElementById("owner_profile_company");
   // let champ2 = document.getElementById("societeHelp");
    
    function isChecked () {
        if (checkbox.checked){
            champ.style.display = "block";
        } else {
            champ.style.display = "none";
        }
    }

    isChecked();

    checkbox.addEventListener("change", function () {
    if (this.checked) {
        champ.style.display = "block";
        //champ2.style.display = "block";
    }
    else {
        champ.style.display = "none";
        //champ2.style.display = "none";
    }
    });
    </script>

{% endblock %}