{% extends 'base.html.twig' %}
{% block title %}Les individus{% endblock %}
{% block body %}
    <div class="container">
        <div class="row align-items-center pt-5 mb-3">
        <div class="col-md-4">
            <h1 class="text-primary"><i class="fas fa-users"></i>&nbsp;&nbsp;Contacts </h1> 
        </div>
        <div class="col-md-4 mt-3">
            <div class="form-group">
                <input class="form-control" type="text" name="contact" id="contactFilter" value="" placeholder="Rechercher un contact ..."/>
            </div>
        </div>
        {# <div class="col-md-3">
            <a href="{{ path('company.owner.new')}}" class="btn btn-info btn-right mb-2"><i class="fas fa-plus-square"></i>&nbsp;Ajouter une société</a>
        </div> #}
        <div class="col-md-4">
            <a href="{{ path('owner.contact.new')}}" class="btn btn-info btn-right mb-2"><i class="fas fa-user-plus"></i>&nbsp;Ajouter un contact</a>
        </div>
    </div>
        
        
        <div class="row items-align-center" id="filter">
            {% for profile in profiles %} 
                <div class="col-md-4" class="box">
                    {% include 'owner/contact/_contact.card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %} 

{% block javascript %}

    {{ parent() }}
    <script>

       (function($){

           $('#contactFilter').focus().keyup(function(event){
                var input = $(this);
                var val = input.val();

                if(val == 0) {
                    $('#filter div').show();
                    $('.highlighted').removeClass('highlighted');
                    return true;
                }

                var regexp = '\\b(.*)';

                for(var i in val){
                    regexp += '('+val[i]+')(.*)'
                }

                regexp += '\\b';

                $('#filter div').show();

                $('#filter').find('span.itemFullName').each(function(){
                    var fullName = $(this);
                   
                    var resultats = fullName.text().match(new RegExp(regexp,'i'));

                    if(resultats) {
                        var string = '';
                       console.log(resultats)
                        for(var i in resultats){
                            if(i > 0) {
                                if(i%2 == 0) {
                                    string += '<span class="highlighted">'+resultats[i]+'</span>';
                                } else {
                                    string += resultats[i];
                                }
                            }
                        }
                        fullName.empty().append(string);
                    }else {
                        fullName.parent().parent().parent().parent().hide();
                    }


                })

           });


       })(jQuery);

    </script>

{% endblock %}