{% extends 'base.html.twig' %}

{% block title %}Nouvel contact{% endblock %}

{% form_theme form _self %}

{% block body %}

<div class="container">
    <h1 class="text-primary mt-4 mb-4"><i class="fas fa-users"></i>&nbsp;&nbsp;Nouveau contact</h1>

     {{ include('owner/contact/_form.html.twig', {form: form, button: 'Enregistrer' }) }}

</div>

{% endblock %}

{% form_theme form 'owner/contact/_formAddress.html.twig' %}





{% block javascript %}

    {{ parent() }}

      <script>
    let checkbox = document.getElementById("owner_profile_companyRelated");
    let champ = document.getElementById("owner_profile_company");
   // let champ2 = document.getElementById("societeHelp");
    
    function isChecked () {
        if (checkbox.checked){
            champ.style.display = "block";
        } else {
            champ.style.display = "none";
        }
    }

    isChecked();

    checkbox.addEventListener("change", function () {
    if (this.checked) {
        champ.style.display = "block";
        //champ2.style.display = "block";
    }
    else {
        champ.style.display = "none";
        //champ2.style.display = "none";
    }
    });
    </script>

{% endblock %}