{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
    
    <h1 class="my-4">OOPS, vous n'avez pas le droit d'accèder à cette page.</h1>

    <div class="alert alert-warning">
        <h4 class="alert-heading">Info !</h4>
        <p class="mb-0">  Demandez à l'administrateur d'activer ces droits si besoin.</p>
        <p class="mb-0 mt-2"> 
        Si vous venez de demander le renouvellement de votre mot de passe, 
        la limite des 10 mn est écoulée. Veuillez denouveller votre demande et cliquer sur le lien adressé dès la réception du message.
        </p>

    </div>
    <div class="clearfix my-4 text-center">
    <a href="{{ path('home') }}" class="btn btn-info">Revenir à la page d'accueuil</a>
    </div>
    
    </div>
{% endblock %}