{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
    
    <h1 class="my-4">OOPS, page non trouvée !</h1>

    <p>
        Désolé mais la page recherchée n'existe pas !  
    </p>

    <a href="{{ path('home') }}" class="btn btn-info">Revenir à la page d'accueuil</a>
    
    
    </div>
{% endblock %}