{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de votre mot de passe{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-5 mb-4"><i class="fas fa-user-lock"></i>&nbsp;&nbsp;Réinitialisation de votre mot de passe !</h1>
    <div class="alert alert-light py-3 px-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p>
                    Indiquez votre e-mail puis cliquez sur "Envoyer". Un e-mail vous sera adressé pour renouveller votre mot de passe.
                </p>
                <p class="text-danger">
                    Attention ! Le lien contenu dans ce message ne sera valide que pendant 10 mn. Au-delà, veuillez renouveller la demande.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        {{form_start(form)}}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"> {{form_row(form.email)}}</div>
            <div class="col-md-2"></div>
        </div>
        <div class="row mt-2 pt-3">
            <div class="col-md-12"><button class="btn btn-success btn-center" type="submit"><i class="fas fa-check"></i>&nbsp;Envoyer</button></div>
        </div>
        {{form_end(form)}}
    </div>
</div>


{% endblock %}
